.options-btn {
  margin-top: 20px;
  width: 100%;
  h3 {
    letter-spacing: 0.3rem;
    margin-bottom: 10px;
  }
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button {
      width: 100px;
      margin: 8px 8px;
    }
  }
}

#time-is-ending {
  align-items: center;
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-white;
  color: $secundary;
  padding: 20px;
  font-size: 1.5rem;
  z-index: 9999;
  width: 90%;
  height: 400px;
  border-radius: 10px;
  animation: fade 0.5s forwards;
  cursor: pointer;
  
  @include elevation(2);
  h2{
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    margin-top: 40px;
  }

}

#clock-icon {
  font-size: 6.25rem;
}


#close-icon {
  position: absolute;
  font-size: 1.88rem;
  top: 12px;
  right: 12px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

