header{
  width: 100%;
  padding:20px;
  border: 1px solid red;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
  }
}

.timer-container {
  align-items: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 50px;
  h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 100%;
    animation: none;
    transition: 0.5s;
    @include lowering(2)
  }
}

form {
  align-items: center;
  background-color: transparentize($color: $primary, $amount: 0.7);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px 10px;
  width: 100%;
  animation: fade 0.5s forwards;
  @include elevation(2)
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mudanca {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 5.06rem;
  }
  100% {
    font-size: 5rem;
  }
}