header{
  width: 100%;
  padding:20px;
  border: 1px solid red;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
  }
}

.timer-container {
  align-items: center;
  height: 400px;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin-top: 50px;
  h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 100%;
    animation: none;
    transition: 0.5s;
    color: $primary;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    @include lowering(2)
  }
}

form {
  align-items: center;
  background-color: $secundary;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px 10px;
  width: 100%;
  animation: fade 0.5s forwards;
  @include elevation(2)
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mudanca {
  0% {
    font-size: 5rem;
  }
  50% {
    font-size: 5.00rem;
  }
  100% {
    font-size: 5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    h1 {
      margin-top: 100px;
      font-size: 2.8rem;
    }
  }
  .timer-container {
    h2 {
      font-size: 4.5rem;
      max-width: 400px;
    }
  }
  form {
    padding: 40px 20px;
  }
}


@media screen and (min-width: 1025px){
  main {
    h1 {
      margin-top: 100px;
      font-size: 3.8rem;
    }
  }
  .timer-container {
    margin-top: 50px;
    h2 {
      font-size: 5rem;
      max-width: 450px;
    }
  }
  form {
    padding: 40px 20px;
  }
}
